demo/*/*.exe
demo/*/*.obj
demo/*/bin/*
example/bin/*
docs/xml
docs/build
docs/src
*.tmp
/nuklear/.vs
/vs6/dx9
x64
x86
*.plg
*.opt
*.ncb
*.log
.vscode
ARM64
.gradle
.vs
ARM
Debug
arm8Debug
arm64-v6a
arm64-v8a
x86_64
.gradle